@model IEnumerable<Projet_Cinema_Films.Models.DiffusionListItemViewModels>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Pour Ajouter une nouvelle diffusion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiffusionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiffusionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AudioLang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTitleLang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleMovie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeProjection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCinemaRoom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiffusionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiffusionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AudioLang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTitleLang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleMovie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeProjection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCinemaRoom)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
