@model IEnumerable<Projet_Cinema_Films.Models.DiffusionListItemViewModels>
@{
    // int id = ViewBag.Id;
}

<p>
    @* <a asp-action="Create" asp-controller="Diffusion" asp-route-id_cinemaPlace="@id">Create New</a> *@
</p>
<table class="table">
    <thead>
        <tr>
           <th>
                @Html.DisplayNameFor(model => model.NumeroCinemaRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiffusionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiffusionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AudioLang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTitleLang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleMovie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeProjection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                    @Html.DisplayFor(modelItem => item.NumeroCinemaRoom)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiffusionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiffusionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AudioLang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTitleLang)
            </td>
            <td>

                    @Html.ActionLink(item.TitleMovie, "Details","Movie", new {  id=item.Id_Movie }) |
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeProjection)
            </td>
        </tr>
}
    </tbody>
</table>
